<%- include('partials/header') %>

<div class="container mt-5 d-flex flex-column flex-grow-1">
  <div class="banner mb-5">
    <h1>Meet the Creator & Community</h1>
    <h2>A space for sharing book reviews, thoughts, and ratings.</h2>
  </div>
  <div class="row justify-content-center flex-grow-1">
    <div class="col-md-10">
      <div class="d-flex flex-wrap align-items-center p-4 rounded about-form" ">
        <div class="about-img me-4 mb-3 mb-md-0" style="flex: 0 0 180px;">
          <img src="/assets/image/profile.jpg" alt="About Image" class="img-fluid rounded" style="width:180px; height:180px; object-fit:cover; border:2px solid #070707;">
        </div> 
        <div class="about-text" style="color: #000000; font-family: 'Poppins', cursive; margin-top: 10px;">
          <p>
            Hi, I’m Charl 👋
            </p>
            <p>
            Welcome to ChapterMine Books—a space built for readers to share their thoughts, ratings, and reflections on the books they’ve read.
            This isn’t a site for reading full books—it’s a place to review, rate, and talk about them. Whether you loved a story, found it thought-provoking, or just want to warn others about a plot twist that didn’t land, this is your space to speak up.
            I created this site to make book discussions more personal and accessible. You can browse reviews, leave your own, and discover what others think before diving into your next read.
            Want to connect or share feedback? Reach out at Want to connect or share feedback? Reach out at 
            <a href="mailto:charleduardnarvaez24@gmail.com">charleduardnarvaez24@gmail.com</a>.
            Thanks for being part of the ChapterMine community!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
